{% extends 'online/base.html' %} 
{% load static %}
{% block title %} Catalog {%endblock %}
{% block style %} <link rel="stylesheet" href="{% static 'online/css/catalog.css' %}" /> {% endblock %} 
{% block content %}
<section>
  <div class="container">
    <h1 class="title1">Catalog</h1>

    {% for product in posts %}

    <div class="card">
      <img src="{{product.img.url}}" class="card_img" alt="flowers" />
      <div class="card_body">
        <span class="price {% if product.sale %} s {% endif %}"> {{product.price}} </span>
        {% if product.sale %}
        <span class="sale">{{product.sale}}</span>
        {% else %} 
        <!-- else можно не писать, если оно пустлое -->
        {% endif %}
        <h5 class="card_title">{{product.title}}</h5>
        <p class="card_text">{{product.description}}</p>
        <div class="star_nav"> 
          <!-- div убрать -->
          <ul class="star_item">
            {% for star in '12345' %} 
              <!-- {% comment %} {% if forloop.counter <=5  %} {% endcomment %} -->
              {% if forloop.counter <= product.rating  %}
              <li>
                <img src="{% static 'online/images/star.png' %}" alt="">
              </li>
              {% else %}
              <li>
                <img src="{% static 'online/images/star.png' %}" alt="" style="filter: grayscale(100%);">
              </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
        <button class="button_card">
          {% if product.is_available %}
          <a href="{% url 'details' product_id=product.id %}" class="link" >Подробнее</a>
          {% else %}
          <span>Товара нет в наличии</span>
          {% endif %}
        </button>
        <!-- <span class="is_available">{{product.is_available}}</span> -->
        <!-- <span class="quantily">100 букетов</span> -->
      </div>
    </div>

    {% endfor %}

<div class="two_card">   

    <div class="card">
      <img src="{% static 'online/images/flowers1.png' %}" class="card_img" alt="flowers" />
      <div class="card_body1">
        <span class="price_sale">1050</span>
        <span class="price"> <s> 1500 </s> </span>
        <span class="sale">-30%</span>
        <h5 class="card_title4">Lorem</h5>
        <p class="card_text1">Ipsum dolor sit amet 
        consectetur adipisicing elit. 
        Excepturi dolore vero odit eum et illum nam sit, 
        possimus mollitia tempore?</p>
        <button> 
          <a href="#" class="btn1">Подробнее</a>
        </button>
      </div>
    </div>

    <div class="card one">
      <div class="three">
        <span class="sale-block">-30%</span>
      </div>
      <div class="card_body1">
        <span class="price_sale">1050</span>
        <span class="price"> <s> 1500 </s> </span>
        <h5 class="card_title4">Lorem</h5>
        <p class="card_text1">Ipsum dolor sit amet 
        consectetur adipisicing elit. 
        Excepturi dolore vero odit eum et illum nam sit, 
        possimus mollitia tempore?</p>
        <button> 
          <a href="#" class="btn1">Подробнее</a>
        </button>
      </div>
    </div>

</div>

  </div>
</section>
{% endblock %}
