{% extends 'online/base.html' %} 
{% load static %}
{% block title %} Catalog {%endblock %}
{% block style %} <link rel="stylesheet" href="{% static 'online/css/catalog.css' %}" /> {% endblock %} 
{% block content %}
<section>
  <div class="container">
    <h1 class="title1">Catalog</h1>

    {% for product in posts %}

    <div class="card" style="width: 18rem">
      <img src="{{product.img.url}}" class="card-img-top" alt="flowers" />
      <div class="card-body">
        <h5 class="card-title">{{product.title}}</h5>
        <p class="card-text">{{product.description}}</p>
        <div>
          <a href="#" class="btn btn-primary">Button</a>
          <span class="price">{{product.price}}</span>
          <span class="sale">{{product.sale}}</span>
        </div>
        <!-- <span class="is_available">{{product.is_available}}</span> -->
        <!-- <span class="quantily">100 букетов</span> -->
      </div>
    </div>

    {% endfor %}

  </div>
</section>
{% endblock %}
