{% extends 'online/base.html' %} 
{% load static %}
{% block title %} Catalog {%endblock %}
{% block style %} <link rel="stylesheet" href="{% static 'online/css/catalog.css' %}" /> {% endblock %} 
{% block content %}
<section>
  <div class="container">
    <h1 class="title1">Catalog</h1>
    <div class="card" style="width: 18rem">
      <img src="{% static 'online/images/flowers1.png' %}" class="card-img-top" alt="flowers" />
      <div class="card-body">
        <h5 class="card-title">Softness</h5>
        <p class="card-text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum
          perferendis nam consequuntur error accusantium enim, ut sunt molestias
          aliquid illo nobis nulla quidem odio deserunt inventore perspiciatis
          facilis explicabo rerum!rem
        </p>
        <a href="#" class="btn btn-primary">Button</a>
        <span class="price">1200</span>
        <span class="sale">-50</span>
      </div>
    </div>
  </div>
</section>
{% endblock %}
